<h1>Your Conversations</h1>


<div class="conversations">
  <% @conversations.each do |conversation| %>
    <div class="contactcard">
      <%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
      <% if !conversation.unread_message_count(current_user).zero? %>
        (<%= conversation.unread_message_count(current_user) %>)
      <% end %>
    </div>
  <% end %>
</div>

<h2>All Available Streetlight Users</h2>
<ul>
  <% @users.each do |user| %>
    <% if user != current_user %>
      <li><%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post, class: "userlink button is-link" %></li>
    <% end %>
    <% end %>
</ul>