<div class="stripe_portal">
<p>Name: <%= @item.name %></p>
<p>Your final sum: <%= number_to_currency(@item.price) %> AUD</p>
<p>Sending payment to: <%= @item.bucket.user.username %></p>
<button id="checkout">Checkout Now</button>

</div>
<script src="https://js.stripe.com/v3/"></script>

<script>



function checkout() {
    let stripe = Stripe("pk_test_c0TI4cPgJLVDD4T897AsSIgx00TOpefVjQ")
stripe.redirectToCheckout({
    sessionId: "<%= @session.id %>"
})
.then(result => alert(result))
}

document.getElementById("checkout").addEventListener('click', checkout)
</script>