<h1>Welcome to Streetlight.  I am genie.  You are <%= current_user.username %>.</h1>

<div class="homepage_links">
<%= link_to "Browse current item buckets", buckets_path, class: "button is-link" %>
<%= link_to "View your conversations", conversations_path, class: "button is-link" %>
<%= link_to "Create a new bucket of your own", new_bucket_path, class: "button is-link" %>
</div>