$parchment: rgb(194, 194, 194);
$lightestblue: rgba(120, 192, 224, 1);
$lightblue: rgba(69, 167, 209, 1);
$streetlight: rgba(25, 143, 193, 1);
$darknavy: rgba(4, 85, 119, 1);
$coal: rgba(13, 61, 81, 1);