// Place all the styles related to the Buckets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.bucketsinfo {
  border: 0.25rem solid lightgrey;
  border-radius: 0.25rem;
  width: fit-content;
  margin: 0 auto;
  background-color: $coal;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.search {
  margin: 0 0 1.5rem 0; 

  input {
    margin-top: 0.5rem;
    padding: 0.5rem 3rem;
    text-align: center;
  }

  .button.is-link {
    font-size: 1rem;
    background-color: $streetlight;
  }
}

.bucket_title {
  color: $parchment;
  background-color: $coal;
  border: 0.25rem solid $darknavy;
  padding: 0.5rem;
  width: 75%;
  margin: 0 auto 1rem auto;

  h1 {
    font-size: 1.25rem;
    color: $lightblue;
  }

  .button.is-link {
    font-size: 0.75rem;
  }
}

.bucket {
  background-color: $darknavy;
  .itemcard {
    width: 95%;
    margin: 0 auto;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

.bucketcard {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border: 0.25rem solid $parchment;
  border-radius: 0.25rem;
  background-color: $coal;
  padding: 0 0.5rem;

  div {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;

    

    p {


      padding: 0.25rem;
    }
  }
}

.itemcard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $coal;
  padding: 0.25rem;
  width: 100vw;

  div {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

.user_buckets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $darknavy;
  width: 95vw;
  margin: 0 auto;

  .bucket_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $coal;
    border-radius: 0.25rem;
    color: $parchment;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    div {
      align-content: center;
      max-height: 25vh;
      overflow-x: hidden;
      overflow-y: scroll;

      &:last-of-type {
      }
    }

    .edit_destroy {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: none;

      p {
        padding: 0.25rem 0.5rem;
      }

      .button.is-link {
        font-size: 0.8rem;
        width: auto;
        background-color: $streetlight;
      }
    }

    .title {
      font-size: 1rem;
    }
  }
}

.allbuckets {
}

.item_thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: auto 0;
  overflow: scroll;

  img {
   max-height: 20vh;
   width: auto;   
  }
}

.new_bucket {
  background-color: $coal;
  padding: 0.25rem 0.25rem 2rem 0.25rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.25rem;
}

.form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  p {
    background-color: $coal;
    * {
      width: 50vw;
      text-align: center;
      padding: 0.25rem;
    }
  }
}

.newbucket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  background-color: $coal;
  padding: 0.5rem;
  margin: 0 auto;
  
  .button.is-link {
    font-size: 1;
    text-align: center;
    padding: 0.5rem;
    height: auto;
    width: 50%;
    margin: 0.5rem auto;

  }

  * {
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    input, textarea {
      width: 75%;
      margin-bottom: 0.25rem;
      padding: 1rem;
    }
  }
}