// Place all the styles related to the Buckets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bucketsinfo {
  border: 0.25rem solid lightgrey;
  border-radius: 0.25rem;
}

.search {
  margin: 1rem 0; 

  input {
    padding: 0.5rem 3rem;
    text-align: center;
  }
}