// Place all the styles related to the Buckets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.bucketsinfo {
  border: 0.25rem solid lightgrey;
  border-radius: 0.25rem;
  width: fit-content;
  margin: 0 auto;
  background-color: $coal;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.search {
  margin: 1rem 0; 

  input {
    padding: 0.5rem 3rem;
    text-align: center;
  }
}

.bucket_title {
  color: $parchment;
}

.bucket {
  background-color: $darknavy;
  .itemcard {
    width: 95%;
    margin: 0 auto;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

.itemcard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $coal;
  padding: 0.25rem;
  width: 100vw;

  div {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

.user_buckets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $darknavy;
  max-width: 95vw;
  margin: 0 auto;

  .bucket_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $coal;
    border-radius: 0.25rem;
    color: $parchment;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    div {
      align-content: center;
      max-height: 20vh;
      overflow-x: hidden;
      overflow-y: scroll;

      &:last-of-type {
      }
    }

    .title {
      font-size: 1rem;
    }
  }
}

.allbuckets {
}

.item_thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: auto 0;
  overflow: scroll;

  img {
   max-height: 20vh;
   width: auto;   
  }
}

.new_bucket {
  background-color: $coal;
  padding: 0.25rem 0.25rem 2rem 0.25rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.25rem;
}

.form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  p {
    background-color: $coal;
    * {
      width: 50vw;
      text-align: center;
      padding: 0.25rem;
    }
  }
}