@import 'colours';

.signup {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  border: 1px solid red;

  input {
    display: inline-block;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.25rem 1rem;
  }

  label {
    display: inline-block;
    border: 1px solid blue;
    margin: 0 auto;
  }
}
.button.is-link {
  font-size: 1.25rem;
}



.login {
}

.newsession {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;

  align-items: center;

  padding: 0 0 15rem 0;

  .field {
    width: 80vw;

    input {
      padding: 0.5rem;
      width: 50%;
      text-align: center;
    }    
  }

  .remember_me {
    justify-content: center;
    
    .remember {
      width: 1rem;
    }
  }
}

.helplinks {
  margin-top: 1rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75vw;

  * {
    transition-duration: 0.25s;;
  }

  .button {
    background-color: $streetlight;
    padding: 0.5rem;
    font-size: 0.9rem;
    
    &:first-of-type {
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: lightblue;
    }
  }
}