// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.item_card {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  justify-content: space-evenly;
  background-color: $parchment;
  flex-wrap: wrap;
}

.item_image {
  img {
    border-radius: 0.5rem;
  }
}

.tagwords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $parchment;
  width: 80vw;
  margin: 0.5rem auto;

  p {
    &:first-of-type {
      width: 100%
      }
  }
}

.tagword_new {
  width: fit-content;
  margin: 0 auto 0.5rem auto;
  background-color: $streetlight;
  padding: 0.5rem;
  border: 0.25rem solid $coal;
}

.new_item {
  display: flex;
  flex-direction: column;

  p {
    input, textarea {
      width: 50%;
      text-align: center;
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      margin: 0.25rem auto;
    }
  }

  .returns {
    height: 4.5rem;
  }

  .price {
    background-color: $parchment;
    color: $coal;
    width: 25%;
    border-radius: 0.25rem;
    margin: 0.5rem auto 0.25rem auto;
  }

  .file {
    display: inline-block;
    width: 100%;
  }
}