// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.conversation {
  display: flex;
  flex-direction: column;
  background-color: $streetlight;
  padding: 0.5rem;
  max-height: 60vh;
  overflow-y: scroll;
  div {
    margin-bottom: 0.5rem;
  }

  &::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  .sentmessage {
    background-color: rgb(109, 204, 109);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $coal;
  }
  
  .receivedmessage {
    background-color: lightblue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $coal;
  }
}

.yourmessage {
  padding: 0.5rem;

  input {
    width: 50%;
  }

  .messagebox {
    width: 80%;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}

.usermessage {
  .button.is-link {
    margin-bottom: 1rem;
  }
}

.profile_link {
  border: 0 0.25rem 0.25rem 0.25rem solid $streetlight;
  width: 50vw;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  color: $parchment;
  background-color: $coal;
  font-style: none;
  border-radius: 0.25rem;
}