
@import 'colours';

 * {
   margin: none;
   padding: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   transition-duration: 0.25s;

 }

.navbar {
  background-image: url('pattern.svg');
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem 1rem;

  .special { 
    .navbar_logo {
      .logosvg {

        width: 50%;
        margin: 1rem auto;

      }
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      max-height: 0;
      overflow: hidden;
    } 
  }

  &:hover {
    .special { 
      .navbar_logo {
        padding: 2.25rem 0;
      } 
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button.is-link {
      width: auto;
      font-size: 1rem;
      border: 0.1rem solid rgb(230, 230, 230);
      border-radius: 0.25rem;
      padding: 0.25rem;

      &:last-of-type {
        border-top: none;
      }
    }
  
    .button.is-link.redbox {
      background-color: rgb(255, 136, 136);
    }
  }
}

#map {
  width: 80vw;
  height: 50vh;
  margin: 2rem auto;
  border-radius: 1.5rem;
  transition: 1s;
}

.button.is-link {
  background-color: $streetlight;
}

.bucketcard {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border: 0.25rem solid $parchment;
  border-radius: 0.25rem;

  div {
    width: auto;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;

    

    p {


      padding: 0.25rem;
    }
  }
}

.bodycontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3rem;

  padding: 1rem 0;
}

.homepage_links {
  .button.is-link {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}

.bucket {

  background-color: $darknavy;
  .itemcard {
    width: 75%;
    margin: 0 auto;

    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

body {
  background-color: $darknavy;
}

@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/components/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';