// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $parchment;
  margin-top: 1rem;

  div {
    background-color: $coal;
    border-radius: 0.25rem;
    margin: 0 auto 0.25rem auto;
    width: 90%;

    &:first-of-type {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.profile_banner {
  color: $parchment;
  background-color: $coal;
  width: 80%;
  height: fit-content;
  padding: 0.5rem 0;
  margin: 0 auto;
  border-radius: 0.25rem;
}

.location {
  font-size: 1rem;
  padding: 0.25rem;
  
  &:hover {
    background-color: $streetlight;
  }
}